* {
    margin: 0px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-left: 1%;
    height: 4rem;
    width: 22%;
    /* float: left; */
}

.nav_items {
    margin-top: 1.5%;
    width: 68%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-content: center;
}

.nav_items li a {
    font-family: monospace;
    color: rgb(238, 238, 238);
    margin-top: 30px;
    margin-right: 30px;
    font-size: 1.3rem;
    text-decoration: none;
    list-style-type: none;
    transition: all .2s;
}

.nav_items li a:hover {
    text-decoration: underline;
    color: rgb(232, 185, 128);
}

#login {
    border: solid 1px white;
    padding: 1.2%;
    /* margin-right: ; */
    border-radius: 5px;
    transition: all .5s;
}

#signup {
    border-radius: 5px;
    padding: 1.2%;
    background-color: aliceblue;
    border: solid 1px white;
    color: black;
    transition: all .5s;
    margin-left: 0px;
    margin-right: 0px;
}

#login:hover {
    border-radius: 5px;
    margin-right: 1rem;
    padding: 1.2%;
    background-color: aliceblue;
    color: black;
}

#signup:hover {
    border-radius: 5px;
    padding: 1.2%;
    background-color: black;
    color: white;
    border: solid 1px white;
    margin-left: 0px;
    margin-right: 0px;
}


.outer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40rem;
    padding-top: 5%;
}

.left {
    margin: 5% 0% 5% 5%;
    width: 50%;
    height: 80%;
    text-align: center;
}

.right {
    margin-left: 1%;
    width: 40%;
    height: 80%;
    text-align: center;
}

.wlcm {
    font-size: 7rem;
    font-family: cursive;
    background: radial-gradient(ellipse at bottom, #d9b9e1, #420573);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wlcm_txt {
    margin-left: 15%;
    margin-top: 2%;
    text-align: left;
    width: 70%;
    height: 70%;
    font-size: 2rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 200;
}


.about {
    width: 100%;
    height: 33rem;
    margin-bottom: 5%;
}

.abt_txt {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    height: 90%;
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.write_abt {
    font-size: 1.7rem;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    height: 80%;
    margin-top: 1%;
}


.services {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    width: 100%;
    height: 45rem;
    margin-bottom: 10%;
}

.services_div {
    width: 20%;
    margin-left: 4%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 20px;
    transition: all .4s;
}

.service_first {
    display: flex;
    height: 40%;
    width: 90%;
    margin-left: 5%;

}

.service_second {
    margin-top: 3%;
    display: flex;
    height: 40%;
    width: 90%;
    margin-left: 5%;
}

.services_div:hover {
    width: 20%;
    margin-left: 4%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 20px;
}



.contact {
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40rem;
}

.contact_left {
    text-align: center;
    height: 90%;
    margin-top: 5%;
    width: 40%;
    margin-left: 14%;
}

.contact_right {
    height: 90%;
    margin-top: 5%;
    width: 50%;
    margin-left: 5%;
}

.contact_form {
    height: 80%;
    width: 100%;
}

.entry {
    padding-left: 3%;
    font-size: 1.2rem;
    margin-top: 7%;
    width: 80%;
    height: 10%;
    border-radius: 100px;
}

.contact_submit {
    border-radius: 10px;
    border: solid 1px black;
    padding: 4px;
    background-color: transparent;
    font-family: "Exo 2", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
    transition: all .4s;
}

.contact_submit:hover {
    border-radius: 10px;
    border: solid 1px rgb(248, 247, 247);
    padding: 4px;
    background-color: black;
    font-family: "Exo 2", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(246, 243, 243);
}

footer {
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.text_footer {
    font-family: "Exo 2", sans-serif;
    font-size: large;
}

.icon_img {
    margin-left: 1rem;
    width: 2rem;
}